<body id="body">
    <div id="top" class="page" role="document">
        
        <a id="selflink" href="/">Update body element via Krumelur</a> |
        <a id="selflink2" href="/">Update body element by replacing innerHTML</a>
        <br />
        <%= DateTime.now %>
        <br />
        
        <% number = rand(4) %>
        <%= '<img src="http://placekitten.com/480/480">' if number == 0 %>
        <%= '<img src="http://placekitten.com/420/420">' if number == 1 %>
        <%= '<img src="http://placekitten.com/420/422">' if number == 2 %>
        <%= '<img src="http://placekitten.com/420/424">' if number == 3 %>
    </div> 
</body>